
@model WebApplication.ViewModels.CreateProject
@*@model IEnumerable<WebApplication.ViewModels.CreateProject>*@
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CreateProject";
}

<h2>CreateProject</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Project</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.project.projectGenre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="btn">
                @Html.RadioButtonFor(model => model.project.projectGenre, "N") N
            </label>

            <label class="btn">
                @Html.RadioButtonFor(model => model.project.projectGenre, "S") S
            </label>

            <label class="btn">
                @Html.RadioButtonFor(model => model.project.projectGenre, "L") L
            </label>
            @Html.ValidationMessageFor(model => model.project.projectGenre, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.drop_list), "選擇廠商名稱", htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
