
@model WebApplication.ViewModels.ReasonViewModel
@{
    ViewBag.Title = "Reason";
}


<script type="text/javascript">
    function showEssentialFile() {
        var folders = @Html.Raw(Json.Encode(@ViewBag.notShowFolder));
        for (let i = 0; i < folders.length; i++)
        {
            var tmp = document.getElementById(folders[i]).getElementsByClassName("control-label")[0]
            //console.log(tmp)
            tmp.style.color = '#D3D3D3'
        }

    }


</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>專案審核</h1>
    <body onload="showEssentialFile()">
        <table class="table">
            <thead>
                <tr>
                    <th>修正</th>
                    <th>上傳項目</th>
                    <th>檔案內容</th>
                    <th>未上傳原因</th>
                    <th>退件理由</th>
                </tr>
            </thead>
            <tbody>

                <tr id="reasonA">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeA, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonA, htmlAttributes: new { @class = "control-label"})
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[0]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectA, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonB">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeB, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonB, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[1]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectB, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonC">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeC, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonC, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[2]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectC, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonD">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeD, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonD, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[3]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectD, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonE">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeE, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonE, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[4]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectE, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonF">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeF, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonF, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[5]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectF, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonG">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeG, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonG, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[6]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectG, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonH">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeH, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonH, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[7]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectH, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonI">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeI, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonI, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[8]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectI, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonJ">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeJ, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonJ, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[9]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectJ, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonK">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeK, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonK, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[10]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectK, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonL">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeL, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonL, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[11]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectL, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonM">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeM, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonM, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[12]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectM, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonN">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeN, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonN, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[13]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectN, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonO">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeO, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonO, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[14]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectO, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonP">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeP, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonP, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[15]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectP, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonQ">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeQ, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonQ, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[16]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectQ, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonR">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeR, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonR, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[17]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectR, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonS">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeS, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonS, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[18]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectS, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonT">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeT, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonT, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[19]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectT, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>

                <tr id="reasonU">
                    <td>
                        @Html.CheckBoxFor(model => model.judgeBox.judgeU, new { Style = "vertical-align:3px}" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.whyNoFile.reasonU, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        <input type="file" name="photos" />
                    </td>
                    <td>
                        @ViewBag.reasons[20]
                    </td>
                    <td>
                        @Html.EditorFor(model => model.rejectReason.rejectU, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>


            </tbody>

        </table>
    </body>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="送出修改" name="Judge" class="btn btn-primary" style="width:100px; height:50px" />
            &nbsp&nbsp&nbsp&nbsp
            <input type="submit" value="通過" name="Pass" class="btn btn-success" style="width:100px; height:50px" />
            &nbsp&nbsp&nbsp&nbsp
            <input type="submit" value="不通過" name="notPass" class="btn btn-danger" style="width:100px; height:50px" />
        </div>
    </div>

}
